body {color: #484848; background-color: #fff; line-height: 1.25em; font-family: "proxima-nova", Helvetica, sans-serif; font-size: 0.9em;}
h1 {text-decoration: underline;}
nav {padding: 0; max-width: 520px; margin: auto; }
article {padding: 1em; max-width: 520px; margin: auto;}
p {margin-bottom: 0;}
ul {margin-top: 0;}
